<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">City List</a>
  <button aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarColor02" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
    </ul>

  </div>
</nav>
<h1 class="text-center text-muted">City List</h1>

<div class="p-1 p-md-2 m-md-2 text-center">
  <div class="btn-group">
    <button (click)="previousPage()" class="btn-primary btn-lg "> <</button>
    <input (keyup.enter)="goToSelectedPage($event)" type="number" value="{{inputPageNumber}}"/>
    <button (click)="nextPage()" class="btn-primary btn-lg"> ></button>
  </div>
</div>
<div class="p-1 p-md-2 m-md-2 text-center">
  <input id="searchName" (keyup.enter)="getCityByName()" name="key" placeholder="Search city..." required type="text"/>
</div>
<div class="p-1 p-md-2 m-md-2 text-center">
  <button (click)="showEdit()">Edit Cities</button>

</div>
<!-- Gallery -->
<div *ngFor="let city of cities" class="p-1 p-md-2 m-md-2 text-center">
  <div class="">
    <h1 class="display-4 font-weight-normal">{{city.name}}</h1>
  </div>
  <img (click)="openWindow()" class="rounded  img-fluid" src="{{city.photoSource}}"/>
  <div [hidden]="hideEditCities">
    <input id="{{city.name}}" type="text" placeholder="City name"/>
    <input id="{{city.name}}_photo" type="text" placeholder="Photo source"/>
    <button (click)="saveEdit(city.name, city.id)">Save change</button>
  </div>
</div>
